@using WebsitePerformanceEvaluator.Data.Models.Enums
@model WebsitePerformanceEvaluator.MVC.ViewModels.LinkPerformanceViewModel

@if (Model.LinkPerformances.Any())
{
    <h1m>@Model.Link.Url</h1m>
    <h1>Performance</h1>

    <table class="table-bordered">
        <thead>
        <tr>
            <th>URL</th>
            <th>Source</th>
            <th>Time (ms)</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var link in Model.LinkPerformances)
        {
            <tr>
                <td>@link.Url</td>
                <td>@link.CrawlingLinkSource</td>
                <td>@link.TimeResponseMs</td>
            </tr>
        }
        </tbody>
    </table>
    
    <h1>Url not found at website</h1>
    
    <table class="table-bordered">
        <thead>
        <tr>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var link in Model.LinkPerformances.Where(link => link.CrawlingLinkSource == CrawlingLinkSource.Sitemap))
        {
            <tr>
                <td>@link.Url</td>
            </tr>
        }
        </tbody>
    </table>
    
    <h1>Url not found in sitemap</h1>

    <table class="table-bordered">
        <thead>
        <tr>
            <th>URL</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var link in Model.LinkPerformances.Where(link => link.CrawlingLinkSource == CrawlingLinkSource.Website))
        {
            <tr>
                <td>@link.Url</td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>No links found.</p>
}